<% include header %>

<section id="student-already-exists-message">
    <h1>Error.</h1>
    <div class="message error-message">
        Student already exists.
    </div>
</section>

<% include footer %>
