<% include header %>

<div class="container-fluid container-main">
    <div class="row">
        <div class="col-md-12">
          <div class="hero-image">
              <div class="statement-msg">
                  <span>Come to the one and only pizza restaurant!</span>
                  <button class="btn btn-primary btn-lg pull-right btn-order">Order Today</button>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <article>
            <h1>Article 1</h1>
            <p class="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non efficitur nisl, in malesuada sem. Duis et accumsan nunc, at aliquam sapien. Integer cursus orci id odio fermentum, vel lacinia libero tempor. Etiam elementum sapien sit amet mi mattis ornare a id enim. Morbi leo diam, ornare quis fringilla et, varius id sem. Aenean consectetur et risus nec convallis. Mauris ut erat eu tellus laoreet ultrices et eu lectus.
            </p>
          </article>
        </div>
        <div class="col-md-4">
          <article>
            <h1>Article 2</h1>
            <p class="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non efficitur nisl, in malesuada sem. Duis et accumsan nunc, at aliquam sapien. Integer cursus orci id odio fermentum, vel lacinia libero tempor. Etiam elementum sapien sit amet mi mattis ornare a id enim. Morbi leo diam, ornare quis fringilla et, varius id sem. Aenean consectetur et risus nec convallis. Mauris ut erat eu tellus laoreet ultrices et eu lectus.
            </p>
          </article>
        </div>
        <div class="col-md-4">
          <article>
            <h1>Article 3</h1>
            <p class="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non efficitur nisl, in malesuada sem. Duis et accumsan nunc, at aliquam sapien. Integer cursus orci id odio fermentum, vel lacinia libero tempor. Etiam elementum sapien sit amet mi mattis ornare a id enim. Morbi leo diam, ornare quis fringilla et, varius id sem. Aenean consectetur et risus nec convallis. Mauris ut erat eu tellus laoreet ultrices et eu lectus.
            </p>
          </article>
        </div>

        <div class="col-md-6">
          <article>
            <h1>Article 4</h1>
            <p class="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non efficitur nisl, in malesuada sem. Duis et accumsan nunc, at aliquam sapien. Integer cursus orci id odio fermentum, vel lacinia libero tempor. Etiam elementum sapien sit amet mi mattis ornare a id enim. Morbi leo diam, ornare quis fringilla et, varius id sem. Aenean consectetur et risus nec convallis. Mauris ut erat eu tellus laoreet ultrices et eu lectus.
            </p>
          </article>
        </div>
        <div class="col-md-6">
          <article>
            <h1>Article 5</h1>
            <p class="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non efficitur nisl, in malesuada sem. Duis et accumsan nunc, at aliquam sapien. Integer cursus orci id odio fermentum, vel lacinia libero tempor. Etiam elementum sapien sit amet mi mattis ornare a id enim. Morbi leo diam, ornare quis fringilla et, varius id sem. Aenean consectetur et risus nec convallis. Mauris ut erat eu tellus laoreet ultrices et eu lectus.
            </p>
          </article>
        </div>

        <div class="col-md-12">

            <form class="student-form" method="POST" action="/students">

                <fieldset>
                    <legend>Student Information</legend>
                    <ol>
                        <li>
                            <label for="fullname">Name</label>
                            <input type="text" id="fullname"
                                   name="fullname"
                                   placeholder="Enter your name."
                                   required autofocus/>
                        </li>
                        <li>
                            <label for="pwd">Password</label>
                            <input type="password" id="pwd" name="pwd"
                                   placeholder="Max 10 chars."
                                   maxlength="10"
                                   required />
                        </li>
                        <li>
                            <label for="pwd">Confirm</label>
                            <input type="password" id="confirm-pwd" name="confirm-pwd"
                                   placeholder="Reenter your password."
                                   maxlength="10" />
                        </li>
                        <li>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email"
                                   placeholder="Enter your email."
                                   required/>
                        </li>
                    </ol>

                    <button type="reset" class="btn">Clear</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>

            </form>

        </div>
    </div>
</div>

<% include footer %>
