{{header}}

<section id="content">
    <div class="hidden error-message message">
        <span>You passwords did not match!</span>
    </div>

    <form class="student-form" method="POST" action="/students">
        <fieldset>
            <legend>Student Information</legend>
            <ol>
                <li>
                    <label for="fullname">Name</label>
                    <input type="text" id="fullname"
                           name="fullname"
                           placeholder="Enter your name."
                           required autofocus/>
                </li>
                <li>
                    <label for="fullname2">Name2</label>
                    <input type="text" id="fullname2"
                           name="fullname2"
                           placeholder="DISABLED."
                           disabled />
                </li>
                <li>
                    <label for="fullname3">Name3</label>
                    <input type="text" id="fullname3"
                           name="fullname3"
                           value="READ ONLY NAME"
                           readonly />
                </li>
                <li>
                    <label for="pwd">Password</label>
                    <input type="password" id="pwd" name="pwd"
                           placeholder="Max 10 chars."
                           maxlength="10"
                           required />
                </li>
                <li>
                    <label for="pwd">Confirm</label>
                    <input type="password" id="confirm-pwd" name="confirm-pwd"
                           placeholder="Reenter your password."
                           maxlength="10" />
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email"
                           placeholder="Enter your email."
                           required/>
                </li>
                <li>
                    <label for="bday">Birthday</label>
                    <input type="date" id="bday" name="bday" placeholder="Enter your birthday."/>
                </li>
                <li>
                    <label for="color">Favorite Color</label>
                    <input type="color" id="color" name="color" placeholder="Enter your favorite color."/>
                </li>
                <li>
                    <label for="color">Age</label>
                    <input type="range" name="age" id="age" value="18" min="1" max="140" />
                    <output id="age-output">(18)</output>
                </li>
                <li>
                    <label for="major">Major</label>
                    <select id="major" name="major">
                        <optgroup label="Computers">
                            <option value="comp-eng">Computer Engineering</option>
                            <option value="comp-sci" selected>Computer Science</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="math">Math</option>
                            <option value="pys">Physics</option>
                        </optgroup>
                    </select>
                </li>
                <li>
                    <label>Hair Color</label>

                    <input type="radio" name="hair-color" id="red-hair" value="red">
                    <label for="red-hair">Redhead</label>

                    <input type="radio" name="hair-color" id="blonde-hair" value="blonde">
                    <label for="blonde-hair">Blonde</label>

                    <input type="radio" name="hair-color" id="grey" value="grey">
                    <label for="grey">Grey</label>

                    <input type="radio" name="hair-color" id="brown" value="brown">
                    <label for="brown">Brown</label>
                </li>
                <li>
                    <label>Fav Food</label>

                    <input type="checkbox" name="favorite-food" id="greek" value="greekFood">
                    <label for="greek">Greek</label>

                    <input type="checkbox" name="favorite-food" id="italian" value="italianFood">
                    <label for="italian" checked>Italian</label>

                    <input type="checkbox" name="favorite-food" id="polish" value="polishFood">
                    <label for="polish">Polish</label>
                </li>
            </ol>

            <input type="reset" value="Clear" />
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</section>

{{footer}}
